
/* ========= MAIN ========= */

button{
    border-radius: 100%;
}

button:hover{
    background-color: #e0e0e0;
    transition: 0.3s;
}

.skills{
    display: flex;
    width: 80%;
    margin: auto;
}

.skills .separacao{
    width: 50px;
}

.list-proj{
    width: 80%;
    padding: 0;
    margin: auto;
    cursor: pointer;
    display: flexbox;
    align-items: center;
    border-radius: 20px;

    background-color: transparent;
}

.list-proj:hover{
    box-shadow: 5px 5px 10px 0px #000000;
}

.img-main{
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
    border-radius: 0;
    background-color: unset;
}

.texto{
    border-radius: 0px 0px 20px 20px;
    background-color: #637AE9;
}

.text{
    text-align: center;
}

/* ========= MODAL ========= */

.container-modal{
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .5);
}

.container-modal.show-hard{
    display: flex;
}
.container-modal.show-soft{
    display: flex;
}

.modal{
    width: 60%;
    margin: auto;
    padding: 1rem;
    min-height: 300px;
    position: relative;
    border-radius: 10px;
    border: 2px solid black;
    background-color: white;
    box-shadow: 10px 10px 0px 5px #8f63e9;
}

.modal li{
    list-style-type: circle;
}

.habilidade{
    width: 70%;
    margin: auto;
}

@keyframes modal{
    from{
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.show-hard .modal{
    animation: modal .3s;
}
.show-soft .modal{
    animation: modal .3s;
}

.btn-modal{
    z-index: 101;
    top: -25px;
    right: -25px;
    padding: 0;
    width: 50px;
    height: 50px;
    display: flex;
    position: absolute;
    cursor: pointer;
    border: 2px solid black;
    background-color: white;
}
.btn-modal span{
    width: 20px;
    height: 2px;
    display: flex;
    background: #000;
    top: 50%;
    left: 12.5px;
    position: absolute;
    transition: 0.3s;
}

.btn-modal span:nth-child(1){
    top: 50%;
    transform: rotate(-45deg);
}
.btn-modal span:nth-child(2){
    top: 50%;
        transform: rotate(45deg);
}

@media only screen and (max-width: 600px){
    .skills{
        display: flex;
        width: 100%;
        margin: auto;
    }
}