/* ========= MAIN ========= */
.conteudo-main{
    width: 80%;
    margin: auto;
    }
    /* ========= SOBRE MIM ========= */
    .sobre-mim{
        width: 100%;
    }
    
    .titulo{
        width: 80%;
        margin: auto;
        text-align: center;
        padding: 1rem;
        margin-bottom: 1rem;
        box-shadow: 5px 5px 10px 0px #000000;
    }
    
    .paragrafo{
        width: 80%;
        margin: auto;
        padding: 1rem;
    }
    
    /* ========= PROJETOS ========= */
    .projetos{
        width: 100%;
        margin: auto;
    }
    
    .list-proj{
        padding: 1rem;
        display: inline-flex;
        align-items: center;
    }
    
    .text{
        padding: 1.5rem;
    }

@media only screen and (max-width: 600px){
    
    .titulo{
        box-shadow: none;
    }

    .list-proj{
        display: grid;
        align-items: center;
        box-shadow: 5px 5px 10px 0px #000000;
    }
    
    .img-main{
        margin: auto;
        border-radius: 100%;
    }

}
