
/* ========= MAIN ========= */

button{
    border-radius: 100%;
}

button:hover{
    background-color: #e0e0e0;
    transition: 0.3s;
}

.skills{
    display: flex;
    width: 80%;
    margin: auto;
}

.skills .separacao{
    width: 50px;
}

.list-proj{
    width: 80%;
    padding: 0;
    margin: auto;
    cursor: pointer;
    display: flexbox;
    align-items: center;
    border-radius: 20px;
    background-color: transparent;
}

.list-proj:hover{
    box-shadow: 5px 5px 10px 0px #000000;
}

.list-proj p:hover{
    color: white;
    transition: .3s;
}

.img-main{
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
    border-radius: 0;
    border: none;
    background-color: unset;
}

.texto{
    border-radius: 0px 0px 20px 20px;
    background-color: #705FD9;
    position: relative;
}

.click{
    width: 30px;
    position: absolute;
    bottom: 2px;
    right: 10px;
}

.text{
    text-align: center;
    font-size: 1.5rem;
}



/* ========= MODAL ========= */

.container-modal{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .5);
}

.container-modal.show-hard{
    display: flex;
}
.container-modal.show-soft{
    display: flex;
}

.modal{
    width: 60%;
    margin: auto;
    padding: 1rem;
    min-height: 300px;
    position: relative;
    border-radius: 10px;
    border: 2px solid black;
    background-color: white;
    box-shadow: 10px 10px 0px 5px #8f63e9;
}

.modal li{
    list-style-type: circle;
}

.habilidade{
    width: 70%;
    margin: auto;
}

@keyframes modal{
    from{
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.show-hard .modal{
    animation: modal .3s;
}
.show-soft .modal{
    animation: modal .3s;
}

@media only screen and (max-width: 955px){
    .skills{
        width: 100%;
    }
    
}

@media only screen and (max-width: 650px){
    .skills{
        display: grid;
        width: 100%;
        margin: auto;
    }
    .scroll-div{
        width: auto;
        height: 400px;
        overflow: hidden;
        overflow-y: scroll;
    }
}

@media only screen and (min-width: 1400px){
    .skills{
        width: 100%;
    }
    
    .img-main{
        width: 400px;
        height: 400px;
    }
}