/* ========= MAIN ========= */
.experiencia{
    display: flexbox;
}

.local{
    width: 80%;
    margin: auto;
    padding: 0.5rem;
    text-align: center;
}

.list-proj{
    padding: 1rem;
    display: flexbox;
    align-items: center;
}

.text-exp{
    width: 70%;
    margin: auto;
    text-align: center;
    padding: .5rem;
}

@media only screen and (max-width: 650px){
    
    .experiencia{
        display: inline-flexbox;
    }
    
    .titulo{
        box-shadow: none;
    }

    .list-proj{
        padding: 1rem;
        display: grid;
        align-items: center;
        box-shadow: 5px 5px 10px 0px #000000;
    }
    
    .img-main{
        width: 150px;
        height: 150px;
        margin: auto;
        border-radius: 100%;
    }
    
}