/* ========= MAIN ========= */
.formacao{
    display: flexbox;
}

.text{
    padding: 1.5rem;
    text-align: center;
}

@media only screen and (max-width: 650px){
    
    .formacao{
        display: inline-flexbox;
    }
    
    .titulo{
        box-shadow: none;
    }

    .list-proj{
        padding: 1rem;
        display: grid;
        align-items: center;
        box-shadow: 5px 5px 10px 0px #000000;
    }
    
    .img-main{
        width: 150px;
        height: 150px;
        margin: auto;
        border-radius: 100%;
    }
    
}