/* ====== Google Fonte ====== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap'); 

/* ========= Zerando ========= */
*{
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

/* ========= Variaveis Globais ========= */
body{
    width: 100%;
    background-image: url(../Image/background.jpg);
    color: black;
}

header{
    background-color: #8f63e9;
    border-radius: 40px 40px 0px 0px;
}

footer{
    background-color: #8f63e9;
    border-radius: 0px 0px 40px 40px;
}

li{
    border: none;
    padding: 1rem;
    border-radius: 20px;
    list-style-type: none;
    text-decoration: unset;
}

a{
    text-decoration: none;
    color: black;
}

p{
    color: black;
    text-align: justify;
}

img{
    width: 200px;
}

/* ========= Funções Globais ========= */
.separacao{
    width: 100%;
    height: 2rem;
}


/* ========= Funções Globais ========= */

/* ========= ID ========= */

#containner {
    width: 80%;
    margin: auto;
    border-radius: 40px;
    background-color: rgb(255, 255, 255);
}

#img-header{
    width: 100%;
    height: 300px;
}

#container-header{
    width: 100%;
    height: 125px;
    margin: auto;
    padding: 1rem;
}

#container-main{
    width: 100%;
    margin: auto;
    padding: 1rem;
}

#container-footer{
    width: 100%;
    margin: auto;
    padding: 1rem;
}

/* ========= ID ========= */

/* ========= HEADER ========= */

.img-header{
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0px 0px;
}

.img-perfil{
    position: relative;
}

.image{
    width: 200px;
position: absolute;
    padding: 1rem;
} 

.conteudo-header{
    width: 80%;
    align-items: center;
    margin: auto;
}

.center-header{
    width: 70%;
    text-align: center;
    align-items: center;
    margin-left: auto;
}

.nome{
    padding: 0.75rem;
    padding-right: 0;
}

.bt_list:hover{
    background-color: #637AE9;
    color: white;
}

.menu{
    padding: 0.75rem;
    padding-right: 0;
}

.display{
    width: auto;
    height: auto;
    display: inline-flex;
}

/* ========= MAIN ========= */
.conteudo-main{
width: 80%;
margin: auto;
}
/* ========= SOBRE MIM ========= */
.sobre-mim{
    width: 100%;
}

.titulo{
    text-align: center;
    padding: 1rem;
}

.paragrafo{
    width: 80%;
    margin: auto;
    padding: 1rem;
}

/* ========= PROJETOS ========= */
.projetos{
    width: 100%;
    margin: auto;
}

.projetos .titulo{
    padding: 1rem;
}

.list-proj{
    display: inline-flex;
    align-items: center;
}

.text{
    padding: 1.5rem;
}

/* ========= FOOTER ========= */
.conteudo-footer{
    display: flex;
}

.contato{
    width: 33%;
    margin: auto;
    text-align: center;
}

.contato-vetor{
    width: 60%;
    margin: auto;
    border-radius: 20px;    
}
.contato-vetor p{
    text-align: unset;
    color: white;
}

.contato-vetor .vetor{
    width: 2.5rem;
    padding-right: 1rem;    
}

.contato-vetor:hover{
    background-color: #637AE9;
}

.link{
    display: inline-flex;
    align-items: center;
    padding: 0.25rem;
}

