/* ====== Google Fonte ====== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap'); 

/* ========= Zerando ========= */
*{
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

/* ========= Variaveis Globais ========= */
body{
    width: 100%;
    background-image: url(../Image/background.jpg);
    color: black;
}

header{
    background-color: #8f63e9;
    border-radius: 40px 40px 0px 0px;
}

footer{
    background-color: #8f63e9;
    border-radius: 0px 0px 40px 40px;
}

li{
    border: none;
    list-style-type: none;
    text-decoration: unset;
}

a{
    text-decoration: none;
    padding: 1rem;
    border-radius: 20px;
    color: black;
}

p{
    color: black;
    text-align: justify;
}

img{
    width: 200px;
}

/* ========= Funções Globais ========= */
.separacao{
    width: 100%;
    height: 2rem;
}


/* ========= Funções Globais ========= */

/* ========= ID ========= */

#containner {
    width: 80%;
    margin: auto;
    border-radius: 40px;
    background-color: rgb(255, 255, 255);
}

#img-header{
    width: 100%;
    height: 300px;
}

#container-header{
    width: 100%;
    margin: auto;
}

#container-main{
    width: 100%;
    margin: auto;
}

#container-footer{
    width: 100%;
    margin: auto;

}

#menu{
    text-align: center;
    display: block;
}

/* ========= ID ========= */

/* ========= HEADER ========= */

#btn{
    display: none;
}

.img-header{
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0px 0px;
}

.conteudo-header{
    width: 100%;
    display: flex;
    align-items: center;
}

.img-perfil{
    width: 30%; 
    text-align: center;
}

.image{
    width: 70%;
    border-radius: 100%;
    background-color: chocolate;
} 

.center-header{
    width: 70%;
}

.nome{
    width: 100%;
    text-align: center;
    
}

.display{
    width: auto;
    height: auto;
    padding-top: 1rem;
    display: inline-flex;
}

.bt_list a:hover{
    background-color: #637AE9;
    color: white;
}

/* ========= MAIN ========= */
.conteudo-main{
width: 80%;
margin: auto;
}
/* ========= SOBRE MIM ========= */
.sobre-mim{
    width: 100%;
}

.titulo{
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
}

.paragrafo{
    width: 80%;
    margin: auto;
    padding: 1rem;
}

/* ========= PROJETOS ========= */
.projetos{
    width: 100%;
    padding: 1rem;
    margin: auto;
}

.list-proj{
    padding: 1rem;
    display: inline-flex;
    align-items: center;
}

.img-main{
    width: 35%;
    height: 35%;
    border-radius: 100%;
    background-color: chartreuse;
}

.text{
    padding: 1.5rem;
}

/* ========= FOOTER ========= */
.conteudo-footer{
    display: flex;
}

.contato-title{
    width: 33%;
    margin: auto;
    text-align: center;
}

.contato{
    width: 33%;
    margin: auto;
    text-align: center;
}

.contato-vetor{
    width: 60%;
    margin: auto;
    border-radius: 20px;    
}
.contato-vetor p{
    text-align: unset;
    color: white;
}

.contato-vetor .vetor{
    width: 2.5rem; 
}

.contato-vetor:hover{
    background-color: #637AE9;
}

.link{
    display: inline-flex;
    align-items: center;
    padding: 0.25rem;
}

.vetor-nome{
    width: 100px;
}


@media only screen and (max-width: 955px) {
    

    /* ========= HEADER ========= */
    #img-header{
        width: 100%;
        height: 400px;
        position: relative;
    }
    
    #container-header{
        width: 100%;
        height: 0;
        margin: auto;
        position: relative;
        top: -412px;
        color: white;
    }

    #menu{
        text-align: center;
        display: block;     
    }

    a{
        color: white;
    }
    
    .conteudo-header{
        width: 100%;
        height: 100%;
        display: grid;
        position: relative;
        align-items: center;
    }

    .img-perfil{
        width: 50%; 
        margin: auto;
        padding: 1rem;
        text-align: center;
    }
    
    .center-header{
        width: 100%;
    }

    .nome{
        width: 100%;
        text-align: center; 
    }

    

    .bt_list{
        text-align: center;
    }

    .bt_list a:hover{
        background-color: #637AE9;
        color: rgb(0, 0, 0);
    }

    /* ========= FOOTER ========= */
    
    .link{
        display: list-item;
        padding: 0.25rem;
        margin: auto;
        border: none;
        list-style-type: none;
        text-decoration: unset;
    }
    
    .vetor-nome{
        width: 100px;
        margin: auto;
    }
    
}

@media only screen and (max-width: 600px) {
    /* ========= HEADER ========= */
    body{
        background-color: tomato;
        background-image: none;
    }

    header{
        background-color: #8f63e9;
        border-radius: 0;
    }
    
    footer{
        background-color: #8f63e9;
        border-radius: 0;
    }

    #containner {
        width: 100%;
    }

    #container-header{
        top: -350px;
    }

    #menu{
        display: none;
    }

    #btn{
        display: block;
        position: absolute;
        top: 20px;
        left: 270px;
    }

    .img-header{
        border-radius: 0;
    }

    .center-header{
        width: 100%;
        text-align: center;
    }

    .nome{
        text-align: center;
    }

    
   
    /* ========= FOOTER ========= */

    .conteudo-footer{
        display: grid;
    }

    .contato-title{
        padding: 1.25rem;

    }

    .contato{
        width: 100%;
        height: 100px;
        text-align: center;
        display: inline-flex;
    }
    
    .contato-vetor{
        width: 33%;
    }

    .contato-vetor-hidden{
        width: 33%;
        height: 100px;
    }

}