/* ========= MAIN ========= */
.conteudo-main{
    width: 80%;
    margin: auto;
    }
    /* ========= SOBRE MIM ========= */
    .sobre-mim{
        width: 100%;
    }
    
    .paragrafo{
        width: 80%;
        margin: auto;
        padding: 1rem;
    }
    
    /* ========= PROJETOS ========= */
    .projetos{
        width: 100%;
        margin: auto;
    }
    
    .list-proj{
        padding: 1rem;
        display: flexbox;
        align-items: center;
    }

    .proj-item{
        width: 70%;
        margin: auto;
    }
    
    .text{
        padding: 1.5rem;
    }

@media only screen and (max-width: 600px){
    
    .titulo{
        box-shadow: none;
    }

    .list-proj{
        display: flexbox;
        align-items: center;
        box-shadow: 5px 5px 10px 0px #705FD9;
    }

    .proj-item{
        width: 100%;
        margin: auto;
    }
    
    .img-main{
        margin: auto;
        border-radius: 100%;
    }

}
